.design {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-progress {
    width: 100%;
    margin-bottom: 3px;
}